.customNavbar {
  background-color: #fdf8f8 !important;
}

.cartIconContainer {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.cartIcon {
  color: #b3642c; 
}

.cartBadge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #703409; 
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
}

.cardPrice {
  background-color: #dbcbbf;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
  font-size: 16px;
}
