.cartIconContainer {
  position: relative;
  margin-right: 20px;
}

.cartBadge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #f3eeee;
  color: #763d14;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
}

.cartItemInfo {
  background-color: #f3eeee;
  color: #763d14;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin-right: 1rem;
  font-weight: bold;
}

.cartTotalInfo {
  background-color: #c1723a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-weight: bold;
}
